<p>My name is Gregory Burdge and I am a Junior Developer.  This is my first project using HTML/CSS, AngularJS and Python.
    I have a hunger for knowledge and have numerous abilities and strengths in the sciences. My mission is to employ the
    principles of science to the service of my fellowmen. As a student Developer in Training I am engaged in learning
    what is being taught and am excited each day to improve my abilities. I'm being instructed by web and mobile
    development professionals to learn front- and back-end web development technologies including Python, Django,
    JavaScript, AngularJS, Git, HTML, and CSS. Over the past 5-10 years, my background has been mostly in customer
    service and technical support. I graduated from Brigham Young University in Provo, Utah with a Bachelor of Science
    in Elementary Education (with a minor in General Psychology).</p>
    <ahref="https://www.linkedin.com/in/gregoryburdge/">

