<div class="col-md-6">
    <label>Recipe Name</label>
    <input class="form-control" type="text" ng-model="recipe.name">
</div>

<!--<div class="col-md-2">
    <label>Prep Time</label>
    <input class="form-control" type="text" ng-model="recipe.prep_time">
</div>
-->
<div class="col-md-6">
    <label>Description</label>
    <textarea
            type="text"
            ng-model="recipe.description"
            placeholder="Why is this a great recipe? Does it have a history?"
            class="form-control"
            rows="10">
    </textarea>
</div>

<div class="col-md-2">
    <label>Total Time</label>
    <input class="form-c
ontrol margin-bottom-20" type="text" ng-model="recipe.total_time">

    <label>Cook Method</label>
    <select ng-model="recipe.cook_method"
            ng-options="method.stored_name as method.printed_name for method in methods"
            class="form-control">
    </select>
</div>
<button class="btn btn-md btn-info"
        ng-click="saveNewRecipe()">Add Recipe</button>

<div class="col-md-3 clear">
    <label>Ingredients</label>
    <input class="form-control form-inline"
           type="text"
           ng-model="ingredientName"
           typeahead="ingredient.name for ingredient in ingredients | filter:$viewValue | limitTo:20"
           placeholder="Enter an Ingredient">

    <ol>
        <li ng-repeat="ingredient in recipe.ingredients">{{ ingredient.name }}</li>
    </ol>
</div>